body {
    font-family: Arial, sans-serif;
    padding: 0;
    height: 100vh;
}

#map-container {
    overflow: auto;
    background: #f0f0f0;
}

#answer-box {
    padding: 15px;
    background: #fff;
    text-align: center;
}

#input {
    width: 70%;
    padding: 10px;
    font-size: 18px;
}

#score {
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
}

.correct {
    fill: #00ff00 !important;
}

.center {
    display: block;
    margin: 0 auto;
}

#svg {
    display: block;
    margin: 0 auto;
}

h2 {
    width: fit-content;
    margin: 0.5rem auto !important;
}

.also-try {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.also-try img {
    width: 100px;
    height: 100px;
}

.also-try a {
    text-decoration: none;
    color: black;
}

.also-try a:hover {
    text-decoration: underline;
}

.also-try-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 1rem;
    background-color: #f0f0f0;
    width: 125px;
}

.also-try-item h3 {
    margin-bottom: 0;
}